/* Убираем стандартные отступы, ставим шрифт */
body {
  margin: unset;
  padding: unset;
  font-family: Montserrat;
}


/* Стили для заголовка с ссылками */
.header {
  display: flex;
  flex-direction: row;
  background: #c52727;
  padding: 13px 17px;
  justify-content: space-between;
}

.headerLink {
  text-decoration: none;
  color: #fffcfc;
  font-weight: 700;
  font-size: 22px;
}

.leftSide {
  display: flex;
  gap: 20px;
  flex-direction: row;
}

.rightSide {
  display: flex;

  align-items: center;
}

.vkIcon {
  background-image: url("./assets/vk-icon.png");
}

.social.vkIcon > img {
  width: 44px;
}

.social.tgICon > img {
  width: 39px;
}

.tgIcon {
  background-image: url("./tg-icon.png");
}






/* Стили для первого блока */
.firstSection {
    background:#a91414;
  height: 100%;
  width: 100%;
  /* background: url(./main-photo.png); */
  background-repeat: no-repeat;
  /* background-position: center; */
  background-position-x: center;
}

.main-photo {
  width: 100%;
}

/* Анимация Текста выезжающего из-за экрана */
@keyframes slide-left {
  from {
    translate: 150vw 0;
  }

  to {
    translate: 0 0;
  }
}
@keyframes slide-right {
  from {
    translate: -150vw 0;
  }

  to {
    translate: 0 0;
  }
}

.topTitle {
  animation-duration: 3s;
  animation-name: slide-left;

  color: #353434;
  top: 129px;
  right: 46px;
  position: absolute;
  font-size: 56.25px;
}

.bottomTitle {
  animation-duration: 3s;
  animation-name: slide-right;
  color: #736262;
  top: 425px;
  left: 51px;
  position: absolute;
  font-size: 37.88px;
}





/* Стили для блока цитаты */
.descriptionSection {
    padding-top: 20px;
    padding-bottom: 20px;
  background: #a91414;
  display: flex;
 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}

.descriptionText {
  font-weight: 500;
  color: #fff;
  font-size: 23.25px;
  max-width: 800px;
  text-align: center;
}

.line {
  width: 200px;
  height: 2px;
  background: #fffcfc;
  border-radius: 17px;
}




/* Стили для блока "Мой путь" */
.myFlow {
  padding-top: 28px;
}

.title {
  text-align: center;
  line-height: 42px;
  font-size: 48px;
}

/* Стили элемента карусели */
.slideElement {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 23.25px;
}

.slideImage {
  width: 400px;
}

.glide__slide--active {
  padding-top: 50px;
  transition: 500ms padding ease-out;
}

.slideText {
  font-weight: 500;
  font-size: 23.25px;
  text-align: center;
}



/* Стили блока описания */
.aboutSection {
  margin-top: 45px;
  font-size: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutImage {
  position: relative;
}

.aboutImage::after {
  width: 500px;
  content: "";
  position: absolute;
  left: -46px;
  bottom: -35px;
  z-index: -1;
  background-image: url(./aboutImage.png);
  background-size: 100% 100%;
  height: 482px;
}

.aboutTitle {
  font-size: 45px;
}

.aboutSubtitle {
  font-family: Raleway;
  color: #736262;
  font-size: 37.88px;
}

.aboutDesctiptionTitle {
  font-size: 40px;
}

.aboutDesctiptionText {
  font-size: 23px;
  max-width: 600px;
}

.aboutContent {
  padding-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.aboutImageImg {
  width: 500px;
}




/* Стили блока "ПОЧЕМУ HIGH HEELS" */

.lastSection {
  padding-top: 90px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.lastSection > .title {
  line-height: 42px;

  font-size: 48px;
  font-family: Raleway;
  color: #040404;
}

.lastSection > .content {
  display: flex;
  justify-content: space-around;
}

.lastSectionImg {
  width: 625px;
}

.content > .leftSide {
  font-size: 23.25px;
  background: #a91414;
  border-radius: 98px;
  color: #fffcfc;
  width: min-content;
  display: flex;
  gap: 20px;
  flex-direction: column-reverse;
  align-items: center;
}

.content > .rightSide {
  font-size: 23.25px;
  background: #a91414;
  border-radius: 98px;
  color: #fffcfc;
  width: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leftSide > .text {
  padding-top: 44px;
  max-width: fit-content;
  padding-left: 42px;
  padding-right: 23px;
}
.rightSide > .text {
  padding-top: 44px;
  max-width: fit-content;
  padding-left: 42px;
  padding-right: 23px;
}



/* Стили блока подвала или же "Услуги" */
.footer {
  margin-top: 37px;
  color: #fffcfc;
  background: #a91414;
  border-radius: 93px 93px 0 0;
}

.footerContent {
  padding-top: 65px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footer > .title {
  padding-top: 27px;
}

.footerLeft {
  font-size: 40px;
  border: 3px solid;
  font-weight: 500;
  width: 450px;
  padding: 15px;
}
.footerRight {
  font-size: 40px;
  border: 3px solid;
  font-weight: 500;
  width: 450px;
  padding: 15px;
}

.registrationButton {
color: #000;
text-decoration: none;
  border: unset;
  font-size: 40px;
  background: #fffcfc;
  padding-left: 29px;
  padding-right: 29px;
  border-radius: 22px;
  font-weight: 600;
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: pointer;
}

.aboutDesctiptionModalButton {
  border: unset;
  background: #a91414;
  color: #fffcfc;
  font-size: 28px;
  border-radius: 22px;
  padding: 12px 18px;
  cursor: pointer;
}

.regBtn {
  padding-top: 53px;
  display: flex;
  justify-content: center;
}



/* Стили модального окна */
.modal {
    padding-left: 12px;
  width: 90%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}
.modalContent {
  position: relative;
  padding: 12px;
  background: #fffcfc;
  border-radius: 22px;
}

.closeModal {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}



/* Адаптивность */

@media (max-width: 1300px) {
    .lastSection > .content{
        flex-wrap: wrap;
        gap: 20px;
    }

    .rightSide > .text{
        
    padding-bottom: 25px;
    }

    .aboutSection{
        padding-left: 12px;
    }
    .aboutContent{
        flex-wrap: wrap;
        gap: 50px;
   
    }
    .descriptionSection{
        
        padding-left: 12px;
    }

    .openModalButtonWrapper{
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }

    .footerContent{
        flex-wrap: wrap;
        gap: 20px
    }

    .glide__slide--active{
        padding: unset;
    }

}

@media (max-width: 700px) {
    .lastSectionImg{
        width: 100dvw;
    }
    .aboutImageImg{
        width: 100dvw;
    }

    .footerContent > * {
        font-size: 20px;
        width: unset;
    }

    .header{
        display: none;
    }
    
    .leftSide > * {
        font-size: 20px;
    }

    .bottomTitle {
        font-size: 15.88px;
        
    top: 230px;
    }

    .topTitle{
        top: 50px;
        font-size: 24.25px;
    
    }

    .aboutImage::after{
        width: 100dvw;
        height: 100dvw;
    }

    .descriptionText{
        font-size: 13.25px;
    }

}

@media (max-width: 500px) {
    .bottomTitle{
        font-size: 12.88px;
        top: 3px;
        top: 142px;
        left: 20px;
    
    }

    .topTitle{
        top: 50px;
        font-size: 14.25px;
    }
}